<!DOCTYPE html>
<html>

  <head>
    <link data-require="bootstrap-css@3.3.6" data-semver="3.3.6" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.css" />
    <script data-require="jquery@2.2.4" data-semver="2.2.4" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script data-require="bootstrap.js@*" data-semver="3.3.6" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <!--<link rel="stylesheet" href="style.css" />-->
    <style type="text/css">
    	h1{
		    text-align: center;
		}
    </style>
  </head>
  
  <body class="container">
  	<div class="jumbotron">
		  <h1>Markovian Tweets!</h1>
		  <small class = "pull-right">--Created by Ye Wang, Yan Zheng, Hancheng Zhao</small>
		  <br />
		  <p>This is a small tool that accepts Twitter username and tweets a message in that user's style.</p>
		</div>
    
	  <div class="row" >
		  <div class="col-lg-12">
		    <div class="input-group">
		      <span class="input-group-addon" id="sizing-addon2">Twitter username</span>
		      <input type="text" class="form-control" placeholder="Search for...e.g. realDonalTrump" id = "username" value = "<%-username%>">
		      <!--</input>-->
		      <span class="input-group-btn">
		       <button class="btn btn-success" type="button" id = "generate">Try your luck!</button>
		      </span>
		    </div><!-- /input-group -->
		  </div><!-- /.col-lg-12 -->
	  </div>
	  <br/>
	  <div class="row">
	       <span class="input-group-btn col-lg-6">
		       <select class="btn btn-default dropdown-toggle" type="button" id = "chain_len">
              <option value="1">Markov Chain Length</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="3">4</option>
              <option value="3">5</option>
           </select>
		      </span>
	  </div>
	  </br>
	  <div class="well" id = "well"><%-sentence%></div>
	  
	  
	  <script type="text/javascript" >
	  
	  	$("#generate").click(function(){
	  			var chain_len = $("#chain_len").val();
	        var username = $("#username").val();
	        var url = "/"+username +"/"+chain_len;

	        $.get(url,function(res){
	            console.log(res);
	        })
	        
			window.location.href = url;

	  	})
	  </script>
  </body>

</html>
